.tips-sub {
    position: absolute;
    right: 29px;
    bottom: 78px;
    color: #FE9700;
    img {
        width: 16px;
        height: 16px;
        vertical-align: top;
        margin-top: 1px;
    }
}
