.p-home {
    overflow: hidden;
    position: relative;
    .active{
        color:#2ED4EA;
    }
}
@media screen and (max-width:1366px) {
    .p-home{
        width: 1134px;
        height: 505px;
        background:url('../../../imgs/homeBack1.png') no-repeat;
        background-size: contain;
        ul li{
            cursor: pointer;
            font-size: 16px;
            font-family: PingFangSC;
            font-weight: 400;
            line-height: 23px;
            margin-bottom: 15px;
            color: #D2F3FF;
        }
        .warehouse{
            width: 78px;
            height: 105px;
            position: absolute;
            top: 98px;
            left: 190px;
        }
        .right_mgt{
            width: 78px;
            position: absolute;
            top: 85px;
            left: 290px;
        }
        .in_stock{
            width: 78px;
            position: absolute;
            top: 54px;
            left: 400px;
        }
        .out_stock{
            width: 78px;
            position: absolute;
            top: 54px;
            left: 496px;
        }
        .at_stock{
            width: 78px;
            position: absolute;
            top: 85px;
            left: 611px;
        }
        .inventer_order{
            width: 124px;
            height: 105px;
            position: absolute;
            top: 98px;
            left: 699px;
        }
        .bottom_item{
            overflow: hidden;
            position: absolute;
            top: 284px;
            left: 158px;
            li{
                cursor: default;
                float: left;
                width: 131px;
                height: 68px;
                color:#2959D9;
                font-size: 26px;
                text-align: center;
                &:not(#basic_data){
                    margin-left: 40px;
                }
            }
            .active1{
                color:#273267;
            }
            #warehousing,#out_of_stock{
                padding-top: 43px;
            }
        }
        .item_detail{
            float: right;
            width:294px;
            height: 511px;
            margin-top: 71px;
            h1{
                font-size: 32px;
                font-family: FZLTCHJW--GB1;
                font-weight: normal;
                color: #273267;
                line-height: 108px;
                letter-spacing: 10px;
                margin-bottom: 0px;
            }
            p{
                word-wrap: break-word;
                width: 250px;
                height: 364px;
                font-size: 14px;
                font-family: FZZHJW--GB1;
                font-weight: normal;
                color: #999999;
                line-height: 30px;
                letter-spacing: 2px;
            }
        }
    }
}
@media screen and (min-width:1367px) and (max-width:1920px) {
    .p-home{
        width: 1688px;
        height: 817px;
        background:url('../../../imgs/homeBack2.png') no-repeat;
        background-size: contain;
        ul li{
            cursor: pointer;
            font-size:26px;
            font-family:PingFangSC;
            font-weight:400;
            line-height:32px;
            margin-bottom: 26px;
            color: #D2F3FF;
        }
        .warehouse{
            width: 82px;
            height: 105px;
            position: absolute;
            top: 178px;
            left: 326px;
        }
        .right_mgt{
            width: 112px;
            position: absolute;
            top: 140px;
            left: 450px;
        }
        .in_stock{
            width: 112px;
            position: absolute;
            top: 105px;
            left: 623px;
        }
        .out_stock{
            width: 124px;
            position: absolute;
            top: 105px;
            left: 772px;
        }
        .at_stock{
            width: 112px;
            position: absolute;
            top: 140px;
            left: 947px;
        }
        .inventer_order{
            width: 124px;
            height: 105px;
            position: absolute;
            top: 178px;
            left: 1084px;
        }
        .bottom_item{
            overflow: hidden;
            position: absolute;
            top: 476px;
            left: 301px;
            li{
                cursor: default;
                float: left;
                width: 131px;
                height: 68px;
                color:#2959D9;
                text-align: center;
                &:not(#basic_data){
                    margin-left: 126px;
                }
            }
            .active1{
                color:#273267;
            }
            #warehousing,#out_of_stock{
                padding-top: 48px;
            }
        }
        .item_detail{
            float: right;
            width:340px;
            height: 511px;
            margin-top: 71px;
            h1{
                font-size: 40px;
                font-family: FZLTCHJW--GB1;
                font-weight: normal;
                color: #273267;
                line-height: 108px;
                letter-spacing: 10px;
                margin-bottom: 0px;
            }
            p{
                word-wrap: break-word;
                width: 265px;
                height: 364px;
                font-size: 18px;
                font-family: FZZHJW--GB1;
                font-weight: normal;
                color: #999999;
                line-height: 40px;
                letter-spacing: 2px;
            }
        }
    }
}
@media screen and (min-width:1920px) {
    .p-home{
        width: 1688px;
        height: 817px;
        background:url('../../../imgs/homeBack2.png') no-repeat;
        background-size: contain;
        ul li{
            cursor: pointer;
            font-size:26px;
            font-family:PingFangSC;
            font-weight:400;
            line-height:32px;
            margin-bottom: 26px;
            color: #D2F3FF;
        }
        .warehouse{
            width: 82px;
            height: 105px;
            position: absolute;
            top: 178px;
            left: 326px;
        }
        .right_mgt{
            width: 112px;
            position: absolute;
            top: 140px;
            left: 450px;
        }
        .in_stock{
            width: 112px;
            position: absolute;
            top: 105px;
            left: 623px;
        }
        .out_stock{
            width: 124px;
            position: absolute;
            top: 105px;
            left: 772px;
        }
        .at_stock{
            width: 112px;
            position: absolute;
            top: 140px;
            left: 947px;
        }
        .inventer_order{
            width: 124px;
            height: 105px;
            position: absolute;
            top: 178px;
            left: 1084px;
        }
        .bottom_item{
            overflow: hidden;
            position: absolute;
            top: 476px;
            left: 301px;
            li{
                cursor: default;
                float: left;
                width: 131px;
                height: 68px;
                color:#2959D9;
                text-align: center;
                &:not(#basic_data){
                    margin-left: 126px;
                }
            }
            .active1{
                color:#273267;
            }
            #warehousing,#out_of_stock{
                padding-top: 48px;
            }
        }
        .item_detail{
            float: right;
            width:340px;
            height: 511px;
            margin-top: 71px;
            h1{
                font-size: 40px;
                font-family: FZLTCHJW--GB1;
                font-weight: normal;
                color: #273267;
                line-height: 108px;
                letter-spacing: 10px;
                margin-bottom: 0px;
            }
            p{
                word-wrap: break-word;
                width: 265px;
                height: 364px;
                font-size: 18px;
                font-family: FZZHJW--GB1;
                font-weight: normal;
                color: #999999;
                line-height: 40px;
                letter-spacing: 2px;
            }
        }
    }
}